{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>
        {% block title %}
            Blog
        {% endblock %}
    </title>
</head>
<body>
{% block nav %}
    <header>
        <nav class="navbar navbar-inverse navbar-static-top" role="Navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Bootstrap Based Blog</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'home_page' %}">Home</a></li>
                    <li><a href="{% url 'posts_url' %}">All posts</a></li>
                    <li><a href="{% url 'tags_url' %}">Tags</a></li>

                    {% if not request.user.is_authenticated %}
                        <li><a href="/admin">Sign in</a></li>
                    {% else %}
                        <li><a href="/admin/logout">Logout</a></li>
                    {% endif %}

                </ul>
            </div>
        </nav>
    </header>
{% endblock %}

{% block content %}

    <section class="banner-section"></section>

    <section class="post-content-section" style="background: white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 post-title-block">
                    <h1 class="text-center">Why is Python?</h1>
                    <ul class="list-inline text-center">
                        <li>Author |</li>
                        <li>Category |</li>
                        <li>Date |</li>
                    </ul>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12">
                    <p class="lead">Python is extremely vital for software development. While there are faster,
                        more powerful and popular languages, python brings together lot of things in a way
                        that no other programming language has done so far.
                    </p>
                    <p class="p-size">Python identifies that lot of time is spent on reading code rather than writing it
                        and its focus is on driving developers to write the code to be readable. It is
                        attainable to write much complicated code in python but the simplest way in writing
                        the code is in a way that is sensible, code that easily depicts a purpose.
                        If you learn python, you can work with any type of python with very little attempt..
                    </p>
                    <div class="well ">
                        <b>Why is Python Vital for Developers?</b>
                    </div>
                    <p class="p-size">Libraries that add “magic” functionality can be written in python which is
                        readable
                        (Collate this to interpreting the execution of spring framework as spring in java).
                        Python recognizes that speed of development is extremely vital. Readable code is an
                        element of this, and an approach to keep away monotonous iteration of code.
                    </p>
                    <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                    <p class="p-size">Tool Making is where python excels. Large projects has automation requirements and
                        automation in python is much quicker than utilizing more established languages.
                        Developing tools for the purpose of automating saves a lot of time.
                    </p>
                    <p class="p-size">
                        The number of people learning python is increasing day-by-day due to the job
                        opportunities being created with this language. Comprehensive python training
                        is essential as companies are preferring experts in python.
                    </p>
                    <blockquote>
                        <p><b>Development of Python/Django</b>
                            Development of custom tools is very easy and it hints at other powerful features,
                            development and maintenance. While the large framework known as Django might be an
                            extremely popular web framework of python, there is also a host of accomplishing
                            micro and small frameworks.
                        </p>
                    </blockquote>

                    <div class="image-block">
                        <img src="https://exam-labs.com/blog/wp-content/uploads/2019/12/python.png"
                             class="img-responsive">
                    </div>

                    <p class="p-size">When you are working with programming languages that are extremely powerful
                        and have a wide array of third-party and standard libraries, you will not
                        have the need to accept the mandatory trade-offs when utilizing any
                        off-the-shelf or large frameworks. It specifies that you can develop
                        precisely the software which your customers need rather than informing
                        them that “this is how its carried out and we are sorry”.
                    </p>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-12">
                    <div class="well">
                        <h2>Subscription Box</h2>
                        <p>Form Description Goes here</p>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                    <div class="well">
                        <h2>Share love</h2>
                        <ul class="list-inline">
                            <li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></li>
                            <li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></li>
                            <li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></li>
                            <li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></li>

                        </ul>
                    </div>
                    <div class="well">
                        <h2>About Author</h2>
                        <img src="" class="img-rounded"/>
                        <p>
                            I have some useful skills that make me a great team-player are result-oriented,
                            problem-solving and decision making, high level of responsibility,
                            great organizational and communication skills, attentive to details,
                            strategic and proactive thinking, stress resistance and patience.
                        </p>
                        <a href="https://www.linkedin.com/in/valentyna-lysenok/" class="btn btn-default">Read more</a>
                    </div>
                    <div class="list-group">
                        <a class="list-group-item active" href="#"><h4 class="list-group-item-heading">List group item
                            heading</h4>
                            <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas
                                sed diam eget risus varius blandit.</p></a>
                        <a class="list-group-item" href="#"><h4 class="list-group-item-heading">List group item
                            heading</h4>
                            <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas
                                sed diam eget risus varius blandit.</p></a>
                        <a class="list-group-item" href="#"><h4 class="list-group-item-heading">List group item
                            heading</h4>
                            <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas
                                sed diam eget risus varius blandit.</p></a></div>
                    <div class="well">
                        <div class="media">
                            <div class="media-left"><a href="#"> <img data-src="holder.js/64x64" class="media-object"
                                                                      alt="64x64" style="width: 64px; height: 64px;"
                                                                      src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTY5MjIxZTM1NSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1NjkyMjFlMzU1Ij48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMi41IiB5PSIzNi44Ij42NHg2NDwvdGV4dD48L2c+PC9nPjwvc3ZnPg=="
                                                                      data-holder-rendered="true"> </a></div>
                            <div class="media-body"><h4 class="media-heading">Media heading</h4> Cras sit amet nibh
                                libero, in gravida nulla.
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left"><a href="#"> <img data-src="holder.js/64x64" class="media-object"
                                                                      alt="64x64" style="width: 64px; height: 64px;"
                                                                      src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTY5MjIxZTM1NSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1NjkyMjFlMzU1Ij48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMi41IiB5PSIzNi44Ij42NHg2NDwvdGV4dD48L2c+PC9nPjwvc3ZnPg=="
                                                                      data-holder-rendered="true"> </a></div>
                            <div class="media-body"><h4 class="media-heading">Media heading</h4> Cras sit amet nibh
                                libero, in gravida nulla.
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left"><a href="#"> <img data-src="holder.js/64x64" class="media-object"
                                                                      alt="64x64" style="width: 64px; height: 64px;"
                                                                      src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PCEtLQpTb3VyY2UgVVJMOiBob2xkZXIuanMvNjR4NjQKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTY5MjIxZTM1NSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1NjkyMjFlMzU1Ij48cmVjdCB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSIxMi41IiB5PSIzNi44Ij42NHg2NDwvdGV4dD48L2c+PC9nPjwvc3ZnPg=="
                                                                      data-holder-rendered="true"> </a></div>
                            <div class="media-body"><h4 class="media-heading">Media heading</h4> Cras sit amet nibh
                                libero, in gravida nulla.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% if request.user.is_superuser %}
    <div class="admin-panel align-items-center" style="
    border: 1px solid #999999;
    border-radius: 2px;
    position: fixed;
    right: 50px;
    bottom: 30px;
    opacity: 0.7;
    padding: 15px;
    ">
        <a href="/admin" class="btn btn-light" style="display: block;">Admin</a>

        {% block admin-panel %}
        {% endblock %}
    </div>
{% endif %}

{% block footer %}
    <footer class="navbar-inverse p-3">
        <div class="container">
            <ul class="social-icon animate text-center">
                <li><a href="https://www.facebook.com/tinalysenok" title="facebook" target="_blank"><i
                        class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.linkedin.com/in/valentyna-lysenok/" title="linkedin" target="_blank"><i
                        class="fa fa-linkedin"></i></a></li>
                <li><a href="https://www.instagram.com/valen_tina_vl/" title="instagram" target="_blank"><i
                        class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </footer>
{% endblock %}

</body>
</html>